<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Basic SEO -->
    <meta
      name="description"
      content="Portfolio of Alen Eminovic – a Jönköping-based Graphic Designer and Web Developer blending typography, art and digital experiences."
    />
    <meta
      name="keywords"
      content="graphic design, web development, portfolio, Jönköping, Alen Eminovic, Graphic Design, UX, UI, frontend, art"
    />
    <meta name="author" content="Alen Eminovic" />

    <!-- Links -->

    <title>Alen Eminovic - Portfolio</title>
    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="https://use.typekit.net/ymi5sjk.css" />
    <script src="js/main.js" defer></script>

    <link rel="icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />
  </head>
  <body>
    <header class="site-header">
      <a href="index.html">
        <img src="img/logo.webp" alt="Logo" class="logo" />
      </a>

      <nav class="main-nav">
        <ul>
          <li><a href="#about">About</a></li>
          <li><a href="#projects">Projects</a></li>
          <li><a href="#contact">Contact</a></li>
        </ul>
      </nav>

      <button class="menu-toggle" aria-label="Open menu" aria-expanded="false">
        <span class="burger"></span>
        <span class="burger"></span>
        <span class="burger"></span>
      </button>
    </header>

    <section class="hero">
      <video class="hero-video" autoplay muted loop playsinline>
        <source
          src="video/hero-720p.mp4"
          type="video/mp4"
          media="(max-width: 1024px)"
        />
        <source src="video/hero-1080p.mp4" type="video/mp4" />
        Your browser does not support the video tag.
      </video>

      <div class="hero-content">
        <h1>Hi, I'm Alen Eminovic</h1>
        <p>Graphic Designer & Web Developer</p>
      </div>
    </section>

    <section id="about" class="editorial-section">
      <h2>About Me</h2>
      <p>
        I'm a graphic design and web development student at Jönköping
        University. I focus on creating clean, modern interfaces and building
        websites that feel as good as they look. I'm into UI/UX, simple
        interactions, and thoughtful design that actually works. Whether it's
        layout, typography or code. You can count me in.
      </p>
    </section>

    <section id="projects" class="editorial-section">
      <h2>Projects</h2>
      <div class="grid">
        <div class="project-card">
          <img src="img/bite-rush.webp" alt="Image of the Bite Rush app" />
          <h3>Bite Rush</h3>
          <p>
            Group project where we created an app UI Design and extensive UX
            testing for a food delivery service.
          </p>
        </div>
        <div class="project-card">
          <img src="img/store-sign.webp" alt="Picture of branding" />
          <h3>Brand Identity</h3>
          <p>
            A full visual identity for an Italian restaurant. I was inspired by
            retro Italian graphics to create a modernized version.
          </p>
        </div>
        <div class="project-card">
          <img src="img/edit-visual.webp" alt="Visuals of Edit Magazine" />
          <h3>Magazine Design</h3>
          <p>
            I am Head of Design for the EDIT. school magazine at Jönköping
            University. You can read the latest issue
            <a
              href="https://www.calameo.com/read/0059850902e8daa94f4a3"
              target="_blank"
              >here.</a
            >
          </p>
        </div>
        <div class="project-card">
          <img src="img/argentiq.webp" alt="Webiste design" />
          <h3>Web design</h3>
          <p>
            School assignment where we created an ecommerce website with HTML,
            CSS and JavaScipt. You can view the website
            <a
              href="https://front-end-fundamentals-2025.github.io/fef-project-group-7/index.html"
              target="_blank"
              >here.</a
            >
          </p>
        </div>
      </div>
    </section>

    <section id="contact" class="editorial-section">
      <h2>Contact</h2>
      <form action="https://formspree.io/f/xvgkljod" method="POST">
        <input
          id="name"
          name="name"
          type="text"
          placeholder="Name"
          aria-label="Name"
          required
        />

        <input
          id="email"
          name="email"
          type="email"
          placeholder="Email"
          aria-label="Email"
          required
        />

        <textarea
          id="message"
          name="message"
          placeholder="Type your message"
          aria-label="Message"
          rows="6"
          required
        ></textarea>

        <button type="submit"><span>Send Message</span></button>
      </form>
      <p class="privacy-notice">
        No tracking, no cookies, just a form. Your info stays private
      </p>
      <p class="form-status-message" aria-live="polite"></p>
    </section>

    <footer>
      <p>&copy; 2025 Alen Eminovic. All rights reserved.</p>
      <div class="links">
        <p id="links">Links</p>
        <a href="https://www.linkedin.com/in/alen-eminovic-17a801236/"
          >LinkedIn</a
        >
        <p>-</p>
        <a href="https://www.instagram.com/alen.eminovic/">Instagram</a>
      </div>
    </footer>
  </body>
</html>
